<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<filter>
		<filter-name>CharsetFilter</filter-name>
		<filter-class>hei.devweb.filters.CharsetFilter</filter-class>
		<init-param>
			<param-name>requestEncoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharsetFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>RestrictionFilter</filter-name>
		<filter-class>hei.devweb.filters.RestrictionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>RestrictionFilter</filter-name>
		<url-pattern>/in/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>RestrictionFilter</filter-name>
		<url-pattern>/admin/*</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>Accueil</servlet-name>
		<servlet-class>hei.devweb.controllers.AccueilServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SupprimerCommunication</servlet-name>
		<servlet-class>hei.devweb.controllers.SupprimerCommunicationServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Ajoutassoadmin</servlet-name>
		<servlet-class>hei.devweb.controllers.AjoutassoadminServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Ajoutcommadmin</servlet-name>
		<servlet-class>hei.devweb.controllers.AjoutcommadminServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Planningadmin</servlet-name>
		<servlet-class>hei.devweb.controllers.PlanningadminServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Gestionassos</servlet-name>
		<servlet-class>hei.devweb.controllers.GestionassosServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SupprimerAssociation</servlet-name>
		<servlet-class>hei.devweb.controllers.SupprimerAssociationServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Gestionresp</servlet-name>
		<servlet-class>hei.devweb.controllers.GestionrespServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Gestionpoles</servlet-name>
		<servlet-class>hei.devweb.controllers.GestionpolesServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SupprimerPole</servlet-name>
		<servlet-class>hei.devweb.controllers.SupprimerPoleServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Gestioncomm</servlet-name>
		<servlet-class>hei.devweb.controllers.GestioncommServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Ajoutlieuxadmin</servlet-name>
		<servlet-class>hei.devweb.controllers.AjoutlieuxadminServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Batimentshei</servlet-name>
		<servlet-class>hei.devweb.controllers.BatimentsheiServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SupprimerBatiment</servlet-name>
		<servlet-class>hei.devweb.controllers.SupprimerBatimentServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Lieuxhei</servlet-name>
		<servlet-class>hei.devweb.controllers.LieuxheiServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Annulationadmin</servlet-name>
		<servlet-class>hei.devweb.controllers.AnnulationadminServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Annulation</servlet-name>
		<servlet-class>hei.devweb.controllers.AnnulationServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Eventadmin</servlet-name>
		<servlet-class>hei.devweb.controllers.EventadminServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Materiel</servlet-name>
		<servlet-class>hei.devweb.controllers.MaterielServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Gestionadmin</servlet-name>
		<servlet-class>hei.devweb.controllers.GestionadminServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Admin</servlet-name>
		<servlet-class>hei.devweb.controllers.AdminServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>About</servlet-name>
		<servlet-class>hei.devweb.controllers.AboutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Couverture</servlet-name>
		<servlet-class>hei.devweb.controllers.CouvertureServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>IndexAdmin</servlet-name>
		<servlet-class>hei.devweb.controllers.IndexAdminServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Inscription</servlet-name>
		<servlet-class>hei.devweb.controllers.InscriptionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Date</servlet-name>
		<servlet-class>hei.devweb.controllers.DateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Time</servlet-name>
		<servlet-class>hei.devweb.controllers.TimeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Erreur</servlet-name>
		<servlet-class>hei.devweb.controllers.ErreurServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>New</servlet-name>
		<servlet-class>hei.devweb.controllers.NewServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Ajoutrespadmin</servlet-name>
		<servlet-class>hei.devweb.controllers.AjoutrespadminServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Comm</servlet-name>
		<servlet-class>hei.devweb.controllers.CommServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Confirmation</servlet-name>
		<servlet-class>hei.devweb.controllers.ConfirmationServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Choix</servlet-name>
		<servlet-class>hei.devweb.controllers.ChoixServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Etat</servlet-name>
		<servlet-class>hei.devweb.controllers.EtatServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Gestion</servlet-name>
		<servlet-class>hei.devweb.controllers.GestionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Deconnexion</servlet-name>
		<servlet-class>hei.devweb.controllers.DeconnexionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AccueilMembre</servlet-name>
		<servlet-class>hei.devweb.controllers.AccueilMembreServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Accueil</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Gestionadmin</servlet-name>
		<url-pattern>/admin/gestionadmin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Admin</servlet-name>
		<url-pattern>/admin/admin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>About</servlet-name>
		<url-pattern>/about</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Annulationadmin</servlet-name>
		<url-pattern>/admin/annulationadmin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Planningadmin</servlet-name>
		<url-pattern>/admin/planningadmin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IndexAdmin</servlet-name>
		<url-pattern>/indexAdmin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Gestionassos</servlet-name>
		<url-pattern>/admin/gestionassos</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SupprimerAssociation</servlet-name>
		<url-pattern>/admin/supprimerassociation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Gestioncomm</servlet-name>
		<url-pattern>/admin/gestioncomm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Gestionpoles</servlet-name>
		<url-pattern>/admin/gestionpoles</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SupprimerCommunication</servlet-name>
		<url-pattern>/admin/supprimercommunication</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SupprimerPole</servlet-name>
		<url-pattern>/admin/supprimerpole</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Gestionresp</servlet-name>
		<url-pattern>/admin/gestionresp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Eventadmin</servlet-name>
		<url-pattern>/admin/eventadmin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Batimentshei</servlet-name>
		<url-pattern>/admin/batimentshei</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SupprimerBatiment</servlet-name>
		<url-pattern>/admin/supprimerbatiment</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Lieuxhei</servlet-name>
		<url-pattern>/admin/lieuxhei</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Inscription</servlet-name>
		<url-pattern>/inscription</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Date</servlet-name>
		<url-pattern>/in/date</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	<servlet-name>Erreur</servlet-name>
		<url-pattern>/in/erreur</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>New</servlet-name>
		<url-pattern>/in/new</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Annulation</servlet-name>
		<url-pattern>/in/annulation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Couverture</servlet-name>
		<url-pattern>/in/couverture</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Materiel</servlet-name>
		<url-pattern>/in/materiel</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Confirmation</servlet-name>
		<url-pattern>/in/confirmation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Choix</servlet-name>
		<url-pattern>/in/choix</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Etat</servlet-name>
		<url-pattern>/in/etat</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Time</servlet-name>
		<url-pattern>/in/time</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Gestion</servlet-name>
		<url-pattern>/in/gestion</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Comm</servlet-name>
		<url-pattern>/in/comm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Deconnexion</servlet-name>
		<url-pattern>/deconnexion</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AccueilMembre</servlet-name>
		<url-pattern>/in/membre</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index</welcome-file>
	</welcome-file-list>
</web-app>